.carousel-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.carousel-subtitle {
  color: var(--warning);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.carousel-text {
  max-width: 50%;
  margin-bottom: -65px;
}

.carousel-title {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  font-weight: bold;
  max-width: 800px;
  white-space: normal;
}

.carousel-description {
  color: var(--dark-gray-3);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  max-width: 600px;
  font-weight: normal;
  margin-top: -40px;
}

.carousel-button {
  font-size: 22px;
  padding: 10px 20px;
  background-color: #d91467;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.carousel-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  background: var(--light-gray);
  opacity: 0.7;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 5px;
}

.swiper-pagination-bullet-active {
  background: #d91467;
  opacity: 1;
}

@media (max-width: 768px) {
  .carousel-slide {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .carousel-text {
    max-width: 90%;
    text-align: center;
    margin-bottom: 0;
  }

  .carousel-title {
    font-size: 2.5rem;
  }

  .carousel-description {
    font-size: 1rem;
  }

  .carousel-image {
    margin-top: 20px;
    max-width: 80%;
  }

  .carousel-button {
    font-size: 1rem;
  }
}

.inclined-image {
  transform: rotate(-20deg);
}
